Bienvenue sur le serveur {{ ansible_fqdn }} !

Description du serveur: {{ server_description }}
Nom du projet global: {{ project_name }}

Ceci est un message personnalisé de bienvenue.
Merci de respecter les règles et politiques du serveur.
